<div>
    <h2 id="page-heading">
        <span jhiTranslate="porkaLightStockDataBaseApp.lote.home.title">Lotes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lote" [routerLink]="['/lote/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="porkaLightStockDataBaseApp.lote.home.createLabel">
            Create new Lote
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lotes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="porkaLightStockDataBaseApp.lote.dtEntrada">Dt Entrada</span></th>
            <th><span jhiTranslate="porkaLightStockDataBaseApp.lote.qtEntrada">Qt Entrada</span></th>
            <th><span jhiTranslate="porkaLightStockDataBaseApp.lote.dtVencimento">Dt Vencimento</span></th>
            <th><span jhiTranslate="porkaLightStockDataBaseApp.lote.nrLote">Nr Lote</span></th>
            <th><span jhiTranslate="porkaLightStockDataBaseApp.lote.fornecedor">Fornecedor</span></th>
            <th><span jhiTranslate="porkaLightStockDataBaseApp.lote.produto">Produto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lote of lotes ;trackBy: trackId">
                <td><a [routerLink]="['/lote', lote.id, 'view' ]">{{lote.id}}</a></td>
                <td>{{lote.dtEntrada | date:'mediumDate'}}</td>
                <td>{{lote.qtEntrada}}</td>
                <td>{{lote.dtVencimento | date:'mediumDate'}}</td>
                <td>{{lote.nrLote}}</td>
                <td>
                    <div *ngIf="lote.fornecedor">
                        <a [routerLink]="['../fornecedor', lote.fornecedor?.id, 'view' ]" >{{lote.fornecedor?.nmFornecedor}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lote.produto">
                        <a [routerLink]="['../produto', lote.produto?.id, 'view' ]" >{{lote.produto?.nmProduto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lote', lote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lote', lote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'lote', { outlets: { popup: lote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
