<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" >Bem vindo a Porka Lite Stock</h1>
        <p class="lead" ></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> Voce esta com o usuário "{{account.login}}". </span>
            </div>

        <p>
            <span jhiTranslate="home.like">Muito obrigado por escolher o Porka Lite Stock, deixe seus comentarios/dicas com os desenvolvedores</span> 
        </p>
</div>
